html {
        font-family: 'Arial', sans-serif;
        backgraund: linear-gradient(to rigth, #ff7e5f, #fe47b);
        heigth: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      body {
        width: 50%;
        max-width: 800px;
        min-width: 480px;
        margin: 0 auto;
        backgraund-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }

h1{
  text-align: center;
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
}

.formulario {
display: flex;
flex-direction: column;
align-items: center;
}
      
      .formulario input[type="number"] {
        width: 200px;
        padding: 10px;
        margin-bottom: 10px;
        border-raidius: 5px;
        border: 1px solid #ccc;
        font-size: 1.1em;
      }

.formulario input[type="submit"]
   padding: 10px 20px;
   background-color: #28a745;
   color: white;
   border: none;
   border-radius: 5px;
   font-size: 1.1em;
   cursor: pointer;
   transition: backgraund-color o.3s ease;
}

.formulario input[type="submit"]:hover {
   backgraund-color: #218838;
}

.ultimoResultado {
        color: white;
        padding: 3px;
      }


